* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-image: linear-gradient(120deg , #f6d365 , #fda065);
    color: white;
    font-family: 'Poppins' , sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
    color: #303030;
}

header, form {
    min-height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: white;
    border: none;
}

form button {
    background-color: white;
    color: d88771;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    color: white;
    background-color: #d88771;
}




ul {
    list-style-type: none;
}


.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
    min-width: 50%;
}

.todo{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.todo li {
   flex: 1;
   
   
}

.trash-btn , .complete-btn {
    border: none;
    cursor: pointer;
    background-color: #ff6f47;
    padding: 1rem;
    cursor: pointer;
}

.trash-btn {
    background-color: #DD4132;
    color: white;
    min-height: 3.8rem;
    min-width: 3.8rem;
}

.complete-btn {
    background-color: #00A170;
    color: white;
    min-height: 3.8rem;
    min-width: 3.8rem;
}

.todo-item {
    padding: 1rem ;
}

.fa-trash , .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}